.App {
    text-align: center;
}
h1 {
    margin: 1.5em 0 0.5em;
}
form {
    display: flex;
    flex-direction: column;
    margin: 2em 10% 0 10%;
}
ul {
    margin: 4em 20% 0 20%;
}
.item {
    display: flex;
    justify-content: space-between;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.buttons {
    display: flex;
    align-items: center;
    margin: 0 10px 0 20px;
}

#delete-button {
    margin-left: 5px;
}

.completed > div:first-of-type > h5:first-of-type {
    text-decoration: line-through;
    transition: 1s;
}
.completed {
    transition: 1s;
}
.deleting {
    opacity: 0;
    transition: 0.5s;
}
#delete-all-button {
    margin-top: 3em;
}